[buildout]
develop = .
parts = interpreter test
extends = http://grok.zope.org/releaseinfo/grok-1.0b1.cfg
versions = versions

[versions]
martian = 0.12
grokcore.component = 

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.component
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = grokcore.component
defaults = ['--tests-pattern', '^f?tests$', '-v']
